<div>
  <div class="panel">
    <div style="width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;     font-weight: bold;
    ">
      <tui-svg src="tuiIconMenu" style="cursor: pointer; width: 50px; height: 50px; font-size: 30px;"></tui-svg>
    </div>
    <div style="width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;     font-weight: bold;
    ">
      <tui-svg src="tuiIconMessageCircleLarge" style="cursor: pointer; width: 50px; height: 50px; font-size: 24px;"></tui-svg>
    </div>
    <div style="width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;     font-weight: bold;
    ">
      <tui-svg src="tuiIconGridLarge" style="cursor: pointer; width: 50px; height: 50px; font-size: 24px;"></tui-svg>
    </div>
  </div>
</div>

