<!-- chat-list-pattern.component.html -->
  <div *ngFor="let user of users" class="custom-container" (click)="selectUser(user)" [ngClass]="{ 'selected': user === selectedUser }">
    <div style="display: flex; align-items: center; position: relative; width: 450px; height: 70px;">
      <div style="width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;">
        <tui-avatar [src]="user.icon" [style.background]="user.avatarColor"></tui-avatar>
      </div>
      <div class="text-container" style="font-family: 'Manrope', sans-serif; text-align: left; flex: 1;">
        <div style="font-size: 20px;">{{ user.name }}</div>
        <div style="font-size: 16px;">{{ user.message.slice(0, 40) }}{{ user.message.length > 30 ? '...' : '' }}</div>
      </div>
      <div style="position: absolute; top: 0; right: 0; padding: 10px; display: flex; align-items: center;">
        <img [src]="'../../../../../assets/' + user.checkread" alt="Logo" style="cursor: pointer; width: 20px; height: 20px; font-size: 50px;">
        <div style="margin-left: 5px;">{{ user.time }}</div>
      </div>
    </div>
  </div>

<!-- <div style="position: relative;">
  <tui-svg src="tuiIconCheck" style="cursor: pointer; width: 10px; height: 10px; font-size: 25px;"></tui-svg>
  <tui-svg src="tuiIconCheck" style="cursor: pointer; width: 10px; height: 10px; font-size: 25px; position: absolute; left: 7px; top: 6px; z-index: 1;"></tui-svg>
</div> -->


