<div *ngFor="let user of users" class="custom-container" (click)="selectUser(user)" [ngClass]="{ 'selected': (selectedUserService.selectedUser$ | async) === user }">
  <div style="display: flex; align-items: center; position: relative; width: 450px; height: 70px;">
    <div style="position: relative; width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;">
      <tui-avatar [src]="user.avatar_url"></tui-avatar>
    </div>
    <div class="text-container" style="font-family: 'Manrope', sans-serif; text-align: left; flex: 1;">
      <div style="font-size: 20px;">{{ user.nickname }}</div>
    </div>
  </div>
</div>
